*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
    font-size: 19px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,100,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: #00AEFF;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(0,0,0, 0);
}
.countdown{
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    text-align: center;
    top: 60%;
}

.countdown div {
    padding: 20px 20px;
    margin: 10px 40px;
    opacity: 0.9;
    margin-bottom: 80px;
    background-color: #00AEFF;
}

.countdown span{
    display: block;
    font-size: 25px;
}

.text{
    color: #084482;
}

.text1{
    color: #00AEFF;
}

.bg3{
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.click{
    background-color: #00AEFF;
    color: #fff;
    padding: 5px 15px;
    font-size: 18px;
}

.click1{
    background: #00AEFF;
    color: #fff;
    padding: 5px 15px;
    font-size: 18px;
}

.bord{
    border-bottom: 1px solid rgba(8, 68, 130, 0.5);
    padding-top: 30px;
    padding-bottom: 10px;
}

.bg3{
    background: #E4EDF2;;
}

footer{
    background: #084482;
    color: #fff;
    padding-top: 30px;
}

.link{
    color: #fff;
}


.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex; 
}

.layer{
    background-color:whitesmoke;
}

.layer-1 {
    flex: 1;
}

.layer-2 {
    flex: 1;
}

.layer-3 {
    flex: 1;
}


/* media query for the mobile screen*/
@media (max-width: 650px){
    .countdown {
        font-size: 20px;
        flex-direction: row;
    }

    .countdown span{
        display: block;
        font-size: 20px;
    }
    .countdown div {
        padding: 10px 20px;
        margin: 25px 4px;
        opacity: 0.9;
        margin-bottom: 80px;
    }

}
    